In [1]:
import pandas as pd

In [2]:
df_rating = pd.read_csv("analyst_ratings_processed.csv")
df_analyst = pd.read_csv("raw_analyst_ratings.csv")
df_headline = pd.read_csv("raw_partner_headlines.csv")

https://github.com/msnews/msnews.github.io/blob/master/assets/doc/introduction.md

In [33]:
# https://www.kaggle.com/datasets/aaron7sun/stocknews/data?select=upload_DJIA_table.csv
df = pd.read_csv("Combined_News_DJIA.csv")
df.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [34]:
df_table = pd.read_csv("upload_DJIA_table.csv")
df_reddit = pd.read_csv("RedditNews.csv")

In [35]:
df_table.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [36]:
df_table.tail()

,Date,Open,High,Low,Close,Volume,Adj Close
1984,2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688
1985,2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961
1986,2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727
1987,2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
1988,2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312

In [37]:
df_reddit.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [2]:
!pip install --upgrade yfinance

Requirement already satisfied: yfinance in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (0.2.36)
Collecting yfinance
  Downloading yfinance-0.2.46-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.1.2)
Requirement already satisfied: requests>=2.31 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from yfinance) (3.5.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2023.5.7)
Downloading yfinance-0.2.46-py2.py3-none-any.whl (100 kB)
   ---------------------------------------- 0.0/101.0 kB ? eta -:--:--
   ---------------------------------------- 101.0/101.0 kB 2.9 MB/s eta 0:00:00
Installing collected packages: yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.36
    Uninstalling yfinance-0.2.36:
      Successfully uninstalled yfinance-0.2.36
Successfully installed yfinance-0.2.46

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install --upgrade numpy
#!pip install --upgrade pandas

Requirement already satisfied: numpy in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (2.1.2)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
!pip uninstall pandas yfinance
!pip install pandas yfinance

^C

In [1]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.6 MB 16.8 MB/s eta 0:00:01
   ----- ---------------------------------- 1.5/11.6 MB 19.4 MB/s eta 0:00:01
   -------- ------------------------------- 2.4/11.6 MB 18.8 MB/s eta 0:00:01
   ----------- ---------------------------- 3.3/11.6 MB 19.0 MB/s eta 0:00:01
   -------------- ------------------------- 4.1/11.6 MB 18.8 MB/s eta 0:00:01
   ----------------- ---------------------- 5.1/11.6 MB 19.2 MB/s eta 0:00:01
   --------------------- ------------------ 6.2/11.6 MB 19.8 MB/s eta 0:00:01
   ------------------------ --------------- 7.3/11.6 MB 20.2 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 20.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 20.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 19.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 20.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 18.7 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
Successfully installed pandas-2.2.3

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\dicod\AppData\Local\Programs\Python\Python311\Lib\site-packages\~andas'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mlflow 2.3.2 requires numpy<2, but you have numpy 2.1.2 which is incompatible.
mlflow 2.3.2 requires pyarrow<12,>=4.0.0, but you have pyarrow 15.0.2 which is incompatible.
plotly-resampler 0.8.3.2 requires pandas<2.0.0,>=1.3.5, but you have pandas 2.2.3 which is incompatible.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# import the finance data from yf
import yfinance as yf

start = "2008-08-08"
end = "2016-07-02"

# S&P 500 
dj= yf.download("^DJI", start=start, end=end)

# gold price
gold = yf.download("GC=F", start="2008-08-08", end="2016-07-02", interval="1d")

# 10y bond
us10y = yf.download("^TNX", start="2008-08-08", end="2016-07-02", interval="1d")

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [85]:

# Rename the columns
dj.rename(columns={'Close': 'dj_close', 'Volume': 'dj_volume'}, inplace=True)
gold.rename(columns={'Close': 'gold_close'}, inplace=True)
us10y.rename(columns={'Close': 'us10y_close'}, inplace=True)

In [86]:
merged_data = pd.concat([dj, gold, us10y], axis=1)

In [87]:
merged_data

,Open,High,Low,dj_close,Adj Close,dj_volume,Open,High,Low,gold_close,Adj Close,Volume,Open,High,Low,us10y_close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,11734.320312,212830000,868.799988,869.500000,851.099976,857.799988,857.799988,303,3.947,3.964,3.903,3.950,3.950,0.0
2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,11782.349609,183190000,858.299988,863.400024,818.000000,821.500000,821.500000,286,3.939,4.044,3.930,4.002,4.002,0.0
2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,11642.469727,173590000,826.400024,826.400024,803.599976,808.200012,808.200012,99,3.975,3.975,3.914,3.918,3.918,0.0
2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,11532.959961,182550000,810.900024,829.099976,810.900024,825.000000,825.000000,155,3.903,3.966,3.869,3.947,3.947,0.0
2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,11615.929688,159790000,831.400024,831.900024,805.000000,808.200012,808.200012,67,3.937,3.966,3.877,3.892,3.892,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,17140.240234,138740000,1330.000000,1331.699951,1320.000000,1322.500000,1322.500000,92,1.470,1.490,1.450,1.460,1.460,0.0
2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,17409.720703,112190000,1314.800049,1315.599976,1314.099976,1315.300049,1315.300049,1072,1.478,1.483,1.450,1.461,1.461,0.0
2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,17694.679688,106380000,1311.599976,1327.400024,1311.599976,1323.900024,1323.900024,414,1.465,1.480,1.456,1.477,1.477,0.0
2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,17929.990234,133030000,1315.800049,1323.500000,1314.500000,1318.400024,1318.400024,560,1.504,1.512,1.455,1.488,1.488,0.0
2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,17949.369141,82160000,1324.500000,1344.199951,1321.900024,1336.699951,1336.699951,137,1.429,1.473,1.414,1.456,1.456,0.0

In [81]:
merged_data.head()

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,...,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25,Date,News
2008-08-08 00:00:00,11432.089844,11759.959961,11388.040039,11734.320312,11734.320312,212830000.0,868.799988,869.500000,851.099976,857.799988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-08-11 00:00:00,11729.669922,11867.110352,11675.530273,11782.349609,11782.349609,183190000.0,858.299988,863.400024,818.000000,821.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-08-12 00:00:00,11781.700195,11782.349609,11601.519531,11642.469727,11642.469727,173590000.0,826.400024,826.400024,803.599976,808.200012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-08-13 00:00:00,11632.809570,11633.780273,11453.339844,11532.959961,11532.959961,182550000.0,810.900024,829.099976,810.900024,825.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-08-14 00:00:00,11532.070312,11718.280273,11450.889648,11615.929688,11615.929688,159790000.0,831.400024,831.900024,805.000000,808.200012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
merged_data = merged_data[["dj_close", "dj_volume", "gold_close","us10y_close"]]
df = merged_data.reset_index()

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1989 non-null   datetime64[ns]
 1   dj_close     1989 non-null   float64
 2   dj_volume    1989 non-null   int64
 3   gold_close   1989 non-null   float64
 4   us10y_close  1988 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 77.8 KB

# ì—¬ê¸°ì„œë¶€í„°... df and new data concat

In [ ]:
df

In [43]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas_datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas_datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dicod\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.5.7)
Requirement already satisfied: six>=1.5 in c:\users\dicod\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   ------------------------------------- -- 102.4/109.5 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 109.5/109.5 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
import pandas_datareader.data as web
from datetime import datetime

# data period setting
start = datetime(2008, 1, 1)
end = datetime(2016, 7, 1)

# data import
gdp_growth = web.DataReader("GDP", "fred", start, end)         # GDP quaterly
unemployment = web.DataReader("UNRATE", "fred", start, end)    # monthly
cpi = web.DataReader("CPIAUCSL", "fred", start, end)           # monthly
ppi = web.DataReader("PPIACO", "fred", start, end)             # monthly
interest_rate = web.DataReader("DFF", "fred", start, end)      # daily
exchange_rate = web.DataReader("DEXUSEU", "fred", start, end)  # daily(EU/USD)


print(gdp_growth.head())
print(unemployment.head())
print(cpi.head())

                  GDP
DATE
2008-10-01  14608.209
2009-01-01  14430.902
2009-04-01  14381.236
2009-07-01  14448.882
2009-10-01  14651.249
            UNRATE
DATE
2008-09-01     6.1
2008-10-01     6.5
2008-11-01     6.8
2008-12-01     7.3
2009-01-01     7.8
            CPIAUCSL
DATE
2008-09-01   218.877
2008-10-01   216.995
2008-11-01   213.153
2008-12-01   211.398
2009-01-01   211.933

In [45]:
exchange_rate = yf.download("EURUSD=X", start="2008-01-01", end="2016-12-31", interval="1d")
print(exchange_rate.head())

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2008-01-01  1.460110  1.462994  1.458194  1.462010   1.462010       0
2008-01-02  1.462309  1.474296  1.460110  1.471692   1.471692       0
2008-01-03  1.471692  1.477891  1.469400  1.474491   1.474491       0
2008-01-04  1.474709  1.481811  1.469896  1.475492   1.475492       0
2008-01-07  1.475209  1.475209  1.466706  1.468299   1.468299       0

In [ ]:
gdp_growth_daily = gdp_growth.resample('D').ffill()  # Resample to daily and forward-fill
unemployment_daily = unemployment.resample('D').ffill()
cpi_daily = cpi.resample('D').ffill()
ppi_daily = ppi.resample('D').ffill()

In [ ]:
merged_data = pd.concat([gdp_growth_daily, unemployment_daily, cpi_daily, ppi_daily, interest_rate, exchange_rate], axis=1)

In [ ]:
merged_data.columns = ['GDP', 'Unemployment', 'CPI', 'PPI', 'Interest Rate', 'Exchange Rate']

In [ ]:
# first I merge the daily data.
# [dow_jones_index, gdp, umemployeement, cpi, ppi, interests, ex_rates, gold, bond_10y, news1, ... ,news8] on daily

In [46]:
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime

In [52]:
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime

# Set the date range
start = datetime(2008, 1, 8)
end = datetime(2016, 7, 1)

# Retrieve daily data
interest_rate = web.DataReader("DFF", "fred", start, end)      # daily
exchange_rate = web.DataReader("DEXUSEU", "fred", start, end)  # daily (EUR/USD)

# Retrieve quarterly and monthly data
gdp_growth = web.DataReader("GDP", "fred", start, end)         # GDP quarterly
unemployment = web.DataReader("UNRATE", "fred", start, end)    # monthly
cpi = web.DataReader("CPIAUCSL", "fred", start, end)           # monthly
ppi = web.DataReader("PPIACO", "fred", start, end)             # monthly

# Forward-fill the monthly and quarterly data to create daily data
gdp_growth_daily = gdp_growth.resample('D').ffill()  # Resample to daily and forward-fill
unemployment_daily = unemployment.resample('D').ffill()
cpi_daily = cpi.resample('D').ffill()
ppi_daily = ppi.resample('D').ffill()

# Merge all data into a single DataFrame
merged_data = pd.concat([gdp_growth_daily, unemployment_daily, cpi_daily, ppi_daily, interest_rate, exchange_rate], axis=1)

# Rename columns for clarity
merged_data.columns = ['GDP', 'Unemployment', 'CPI', 'PPI', 'Interest Rate', 'Exchange Rate']

# Display the merged data
print(merged_data.head())

            GDP  Unemployment  CPI  PPI  Interest Rate  Exchange Rate
DATE
2008-01-08  NaN           NaN  NaN  NaN           4.27         1.4717
2008-01-09  NaN           NaN  NaN  NaN           4.26         1.4663
2008-01-10  NaN           NaN  NaN  NaN           4.26         1.4740
2008-01-11  NaN           NaN  NaN  NaN           4.23         1.4787
2008-01-12  NaN           NaN  NaN  NaN           4.23            NaN